section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title.font-w-medium.font-s-30.text-up
        | История развития 
        br.no-br
        | «Степсуши»
      .about-section__text.font-s-19
        | Компания 
        span.color-orange.font-w-heavy.text-up «Степсуши» 
        | была основана 
        span.font-w-heavy в 2015 году в Иркутске. 
        | Сегодня 
        br.no-br
        | мы управляем 
        span.font-w-heavy 3 собственными филиалами, 
        | которые активно развиваются и приносят 
        br.no-br
        | стабильную прибыль. В 
        span.color-orange.font-w-heavy.text-up «Степсуши» 
        | мы сконцентрировались на приготовлении 
        br.no-br
        | роллов и закусок в паназиатском стиле в формате «приняли заказ-приготовили-
        br.no-br
        | вручили». Это гарантирует 
        span.font-w-heavy свежесть и высокие вкусовые качества 
        | наших блюд. 
        br
        br
        span.font-w-heavy Спрос 
        | на японскую кухню в России 
        span.font-w-heavy продолжает расти, 
        | а клиенты все больше 
        br.no-br
        | внимания уделяют качеству продукции, скорости приготовления, незабываемому вкусу 
        br.no-br
        | и адекватной цене. Мы объединяем все эти параметры в наших заведениях, а значит, 
        br.no-br
        span.font-w-heavy остаёмся актуальными на 100%
        br
        br
        | Запуская собственный бизнес по франшизе 
        span.color-orange.font-w-heavy.text-up «Степсуши»
        | , вы получаете возможность 
        br.no-br
        | избежать главных ошибок на старте и получить 
        span.font-w-heavy наш 9-летний опыт 
        | запуска 
        br.no-br
        | прибыльных торговых точек. Мы поделимся с вами стратегией развития, секретами 
        br.no-br
        | приготовления блюд и другой важной информацией, которая позволит вам быстро 
        br.no-br
        span.font-w-heavy окупить инвестиции и перейти к масштабированию
      img.about-section__img(src="images/about-section-bg.jpg" loading="lazy" width="1800" height="742" alt="image")
