section.advantages-section
  .wrapper
    .advantages-section__container
      h2.advantages-section__title.font-w-bold.font-s-40.text-center.text-up
        | Начните бизнес в активно растущей нише
      .advantages-section__text.font-w-regular.font-s-28
        | Согласно статистике, ежегодный рост рынка загородного ИЖС составляет 
        br.no-br-xxl
        | 100%, при этом частное домостроительство активно поддерживается 
        br.no-br-xxl
        | государственными программами. По опросам за 2023 год, более 40% жителей 
        br.no-br-xxl
        | России заявили о желании жить за городом!
        br
        br
        | Наши клиенты — это семейные пары, ИП, ООО и частные лица, готовые к 
        br.no-br-xxl
        | строительству загородного дома для себя или с целью инвестиций, бизнеса 
        br.no-br-xxl
        | (сдача в аренду, перепродажа).
      .advantages-section__sub-title.font-w-bold.font-s-40.text-center.text-up
        | Почему 
        span.color-orange нас выбирают
      .swiper-advantages
        .advantages-section__items.swiper-wrapper
          .advantages-section__item-1.swiper-slide
            img.advantages-section__icon(src="images/advantages-section-icon1.svg" loading="lazy" width="90" height="90" alt="icon")
            .font-w-medium.font-s-24.color-white.text-center
              | Строим дома по каркасной технологии 
              br.no-br
              | из карельской ели и теплого бетона 
              br.no-br
              | с гарантией от 25-ти лет
          .advantages-section__item-2.swiper-slide
            img.advantages-section__icon(src="images/advantages-section-icon2.svg" loading="lazy" width="90" height="90" alt="icon")
            .font-w-medium.font-s-24.color-white.text-center
              | Выступаем как ген.подрядчик 
              br.no-br
              | на объекте застройки и берем всю 
              br.no-br
              | оперативно-хозяйственную 
              br.no-br
              | деятельность на себя
        .advantages-pagination.swiper-progress-advantages
      .advantages-section__bottom
        .advantages-section__bottom-text
          .font-s-32.text-up.color-white
            | Получите 
            br.no-br
            | подробную 
            br.no-br
            span.color-finances-orange презентацию 
            br.no-br
            span.color-finances-orange франшизы 
            br.no-br
            span.color-finances-orange «Larets House»
        form.finances-section__form(data-feedback-form)
          input.input.input--color-brown.finances-item(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
          input.input.input--color-brown.finances-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
          button.btn.btn--color-brown.finances-item-btn(type="submit") Получить
