.agree
  .agree__container
    img.agree__checkbox(src="images/checkbox.svg" loading="lazy" width="11" height="11" alt="checkbox")
    .font-w-regular.font-s-12
      | Я принимаю 
      a(href="#" data-remodal-target="privacy").agree-privacy Политику конфиденциальности

