section.finances-section
  .wrapper
    .finances-section__container
      h2.finances-section__title.font-s-30.font-w-medium.text-up
        | Ознакомьтесь с ключевыми 
        br.no-br
        | цифрами франшизы
      .swiper-finances
        .finances-section__cards.swiper-wrapper
          .finances-section__card.swiper-slide
            .font-w-medium.font-s-24.text-up 165 000 рублей
            .font-w-book.font-s-19 размер ежемесячной прибыли
          .finances-section__card.swiper-slide
            .font-w-medium.font-s-24.text-up 1 800 000 рублей
            .font-w-book.font-s-19 средний размер вложений
          .finances-section__card.swiper-slide
            .font-w-medium.font-s-24.text-up 800 000 рублей
            .font-w-book.font-s-19 размер ежемесячной выручки
          .finances-section__card.swiper-slide
            .font-w-medium.font-s-24.text-up 26 дней
            .font-w-book.font-s-19 понадобится на открытие компании
          .finances-section__card.swiper-slide
            .font-w-medium.font-s-24.text-up 1600 рублей
            .font-w-book.font-s-19 размер среднего чека
          .finances-section__card.swiper-slide
            .font-w-medium.font-s-24.text-up 20,9%
            .font-w-book.font-s-19 рентабельность по чистой прибыли
        .finances-pagination.swiper-progress-finances
      .finances-section__bottom-title.font-w-medium.font-s-22.text-up
        | Хотите получить детальные цифры 
        br.no-br
        | для вашего города и под ваш бюджет?
      .finances-section__bottom-text.font-w-book.font-s-19
        | Скачайте финансовую модель «СТЕПСУШИ»
      form.finances-section__form(data-feedback-form)
          input.input.input--secondary.finances-item(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input.input--secondary.finances-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn.finances-item(type="submit") Скачать
      .main-section__privacy.font-w-book.font-s-16
          | Я принимаю условия 
          a(href="#" data-remodal-target="privacy").main-section__privacy-link Политики конфедициальности
      img.finances-section__img-line-1(src="images/finances-section-img-line.png" loading="lazy" width="10" height="120" alt="image")
      img.finances-section__img-line-2(src="images/finances-section-img-line.png" loading="lazy" width="10" height="120" alt="image")
      img.finances-section__img-line-3(src="images/finances-section-img-line.png" loading="lazy" width="10" height="120" alt="image")
      img.finances-section__img-line-4(src="images/finances-section-img-line.png" loading="lazy" width="10" height="120" alt="image")
      img.finances-section__img-line-5(src="images/finances-section-img-line.png" loading="lazy" width="10" height="120" alt="image")
      img.finances-section__img-line-6(src="images/finances-section-img-line.png" loading="lazy" width="10" height="120" alt="image")
