footer.footer
  .wrapper
    .footer__container
      .footer__brand
        img.footer__logo(src="images/footer-logo.png" loading="lazy" width="370" height="54" alt="logo")
        .footer__brand-name
          .footer__brand-name-text.font-w-bold.font-s-18 © 5GMASTERS, 2024
          a.footer__privacy.font-s-14(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальноти
      .footer__connection
        a(href="tel:+79990000000")
          img.footer__connection-icon(src="images/connection-icon-footer.svg" loading="lazy" width="36" height="37" alt="icon")
        include ../components/phone-number.pug
        //- .footer__call-me.font-w-bold.font-s-16(data-remodal-target="modal-form-call-me") Заказать звонок