footer.footer
  .wrapper
    .footer__container
      .footer__brand.font-w-book.font-s-16 Франшиза ресторана <br> японской кухни
      img.footer__logo(src="images/footer-logo.png" loading="lazy" width="240" height="210" alt="logo")
      .footer__connection
        include ../components/phone-number.pug
        a.footer__privacy.font-w-book.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфедициальности

      //- .footer__brand
      //-   .footer__brand-name
        //- a(href="tel:+79990000000")
        //-   img.footer__connection-icon(src="images/connection-icon-footer.svg" loading="lazy" width="36" height="37" alt="icon")
        //- .footer__call-me.font-w-bold.font-s-16(data-remodal-target="modal-form-call-me") Заказать звонок
