header.header
  .wrapper
    .header__container
      .header__text.font-s-16.font-w-book
        | Франшиза ресторана <br> японской кухни
      img.header__logo(src="images/header-logo.png" loading="lazy" width="240" height="210" alt="logo")
      include ../components/phone-number.pug
    //- .header__connection
    //-   a(href="tel:+79990000000")
    //-     img.header__connection-icon(src="images/connection-icon.svg" loading="lazy" width="44" height="41" alt="icon")
      //- .header__call-me.font-w-bold.font-s-12(data-remodal-target="modal-form-call-me") Заказать звонок
