section.info-section
  .wrapper
    .info-section__container
      h2.info-section__title.font-w-dgo-regular.font-s-34.text-up
        | Хотите узнать больше
        br
        | о франшизе?
      .info-section__text.font-s-24.text-up
        | Оставьте заявку на консультацию, и мы
        br
        | расскажем вам:
      .info-section__content
        .info-section__item
          img.info-section__icon(src="images/info-section-icon.png" loading="lazy" width="64" height="80" alt="icon")
          .font-s-24 Как запустить собственный центр уже через 3 месяца
        .info-section__item
          img.info-section__icon(src="images/info-section-icon.png" loading="lazy" width="64" height="80" alt="icon")
          .font-s-24 На что обратить внимание на старте
        .info-section__item
          img.info-section__icon(src="images/info-section-icon.png" loading="lazy" width="64" height="80" alt="icon")
          .font-s-24 Какие ошибки чаще всего допускают новички
        .info-section__item
          img.info-section__icon(src="images/info-section-icon.png" loading="lazy" width="64" height="80" alt="icon")
          .font-s-24 Как отстроиться от конкурентов
        .info-section__item
          img.info-section__icon(src="images/info-section-icon.png" loading="lazy" width="64" height="80" alt="icon")
          .font-s-24 Как работать с персоналом и учениками
        .info-section__item
          img.info-section__icon(src="images/info-section-icon.png" loading="lazy" width="64" height="80" alt="icon")
          .font-s-24 Какая реклама работает лучше всего
        .info-section__item
          img.info-section__icon(src="images/info-section-icon.png" loading="lazy" width="64" height="80" alt="icon")
          .font-s-24 Как постоянно расти в доходе и масштабировать бизнес
      .info-section__bottom
        form.info-section__form(data-feedback-form)
          input.input.info-item(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
          input.input.info-item(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Ваш телефон")
          button.btn.info-item(type="submit") оставить заявку