section.main-section
  .wrapper
    .main-section__container
      h1.main-section__title.font-w-medium.font-s-34.text-up
        | Откройте свой ресторан 
        br.no-br
        | японской кухни 
        br.no-br
        span.color-orange всего за 26 дней
      .main-section__sub-title.font-w-book.font-s-28
        | и зарабатывайте от 165 000 рублей 
        br.no-br
        | чистой прибыли ежемесячно
      .main-section__bottom
        form.main-section__form(data-feedback-form)
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") Получить план открытия
        .main-section__privacy.font-w-book.font-s-16
          | Я принимаю условия 
          a(href="#" data-remodal-target="privacy").main-section__privacy-link Политики конфедициальности
      img.main-section__img(src="images/main-section-bg.jpg" loading="lazy" width="1800" height="872" alt="image")
