section.presentation-section
  .wrapper
    .presentation-section__container
      h2.presentation-section__title.font-w-black.font-s-36
        | Таким будет ваш детский клуб «BIG BOSS»
      .swiper-desktop
        .presentation-section__cards.swiper-wrapper
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img1.jpg" loading="lazy" width="1170" height="700" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img2.jpg" loading="lazy" width="1170" height="700" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img3.jpg" loading="lazy" width="1170" height="700" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img4.jpg" loading="lazy" width="1170" height="700" alt="image")
        .swiper-progress-desktop.desktop-pagination
        .swiper-buttons
          button.button-next(aria-label="prev")
            img(src="images/presentation-section-btn.png" loading="lazy" width="48" height="48" alt="prev")
          button.button-prev(aria-label="next")
            img(src="images/presentation-section-btn.png" loading="lazy" width="48" height="48" alt="next")
