section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-w-medium.font-s-30.text-up
        | Как будет проходить запуск 
        br.no-br
        | вашей первой точки
      .swiper-start
        .start-section__items.swiper-wrapper
          .start-section__item.swiper-slide
            .start-section__item-num.font-w-medium.font-s-24 01 / 
            .font-w-book.font-s-19 Заключение договора франшизы
          .start-section__item.swiper-slide
            .start-section__item-num.font-w-medium.font-s-24 02 / 
            .font-w-book.font-s-19 Поиск подходящего помещения
          .start-section__item.swiper-slide
            .start-section__item-num.font-w-medium.font-s-24 03 / 
            .font-w-book.font-s-19 Заключение договора аренды
          .start-section__item.swiper-slide
            .start-section__item-num.font-w-medium.font-s-24 04 / 
            .font-w-book.font-s-19 Ремонт и оформление помещения
          .start-section__item.swiper-slide
            .start-section__item-num.font-w-medium.font-s-24 05 / 
            .font-w-book.font-s-19 Поиск персонала
          .start-section__item.swiper-slide
            .start-section__item-num.font-w-medium.font-s-24 06 / 
            .font-w-book.font-s-19 Доставка и монтаж оборудования и мебели
          .start-section__item.swiper-slide
            .start-section__item-num.font-w-medium.font-s-24 07 / 
            .font-w-book.font-s-19 Обучение персонала
          .start-section__item.swiper-slide
            .start-section__item-num.font-w-medium.font-s-24 08 / 
            .font-w-book.font-s-19 Формирование запасов сырья, изготовление заготовок и полуфабрикатов
          .start-section__item.swiper-slide
            .start-section__item-num.item-num-color.font-w-medium.font-s-24 09 / 
            .font-w-book.font-s-19 Официальное открытие
        .start-pagination.swiper-progress-start
      img.start-section__img(src="images/start-section-img.png" loading="lazy" width="922" height="1454" alt="image")
      .start-section__bottom
        .start-section__bottom-title.font-w-medium.font-s-22.text-up
          | Работаем строго по договору, 
          br.no-br
          | в котором описаны наши обязанности 
          br.no-br
          | и все условия сотрудничества
        .start-section__bottom-items
          button.btn.start-item(data-remodal-target="modal-form-agreement") Скачать пример договора
          .main-section__privacy.font-w-book.font-s-16
            | Я принимаю условия <br>
            a(href="#" data-remodal-target="privacy").main-section__privacy-link Политики конфедициальности
