section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-s-50.font-w-bold
        | 10 понятных шагов
      .steps-section__sub-title.font-s-32.font-w-bold
        | для открытия 5GMASTERS
      .steps-section__text.font-s-20.text-up
        | Ознакомьтесь с ключевыми этапами совместной работы
      .swiper-steps
        .steps-section__cards.swiper-wrapper
          .steps-section__card.card-height-100.swiper-slide
            .steps-section__card-num.font-w-bold.font-s-28.text-up 1 шаг
            .font-s-20 Заключаем договор франшизы
          .steps-section__card.card-order-3.swiper-slide
            .steps-section__card-num.font-w-bold.font-s-28.text-up 2 шаг
            .font-s-20 Ищем помещение и подписываем <br> договор аренды
          .steps-section__card.card-order-5.swiper-slide
            .steps-section__card-num.font-w-bold.font-s-28.text-up 3 шаг
            .font-s-20 Проводим ремонт и оформляем <br> помещение
          .steps-section__card.card-order-7.swiper-slide
            .steps-section__card-num.font-w-bold.font-s-28.text-up 4 шаг
            .font-s-20 Производим заказ, доставку и монтаж <br> оборудования и мебели
          .steps-section__card.card-order-9.swiper-slide
            .steps-section__card-num.font-w-bold.font-s-28.text-up 5 шаг
            .font-s-20 Формируем первичные запасы товара <br> и расходных материалов
          .steps-section__card.card-order-2.card-height-100.swiper-slide
            .steps-section__card-num.font-w-bold.font-s-28.text-up 6 шаг
            .font-s-20 Осуществляем поиск персонала
          .steps-section__card.card-order-4.swiper-slide
            .steps-section__card-num.font-w-bold.font-s-28.text-up 7 шаг
            .font-s-20 Запускаем рекламы
          .steps-section__card.card-order-6.swiper-slide
            .steps-section__card-num.font-w-bold.font-s-28.text-up 8 шаг
            .font-s-20 Обучаем персонал
          .steps-section__card.card-order-8.swiper-slide
            .steps-section__card-num.font-w-bold.font-s-28.text-up 9 шаг
            .font-s-20 Проводим техническое открытие
          .steps-section__card.card-order-10.swiper-slide
            .steps-section__card-num.font-w-bold.font-s-28.text-up 10 шаг
            .font-s-20 Открываем точку и начинаем <br> зарабатывать
        .steps-pagination.swiper-progress-steps
      img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="429" height="350" alt="image")
      .steps-section__bottom
        .font-w-bold.font-s-32 Работаем строго по договору,
        .font-s-18 в котором описаны наши обязанности и все условия сотрудничества
      button.btn.steps-item(data-remodal-target="modal-form-agreement") СКАЧАТЬ ПРИМЕР ДОГОВОРА
