section.support-section
  .wrapper
    .support-section__container
      img.support-section__img(src="images/support-section-img.png" loading="lazy" width="914" height="1634" alt="image")
      .support-section__box
        h2.support-section__title.font-w-medium.font-s-30.text-up
          | Поддерживаем 
          br.no-br
          | партнеров на всех 
          br.no-br
          | этапах сотрудничества
        .swiper-support
          .support-section__items.swiper-wrapper
            .support-section__item.swiper-slide
              .font-w-book.font-s-19 Подключаем к сайту и социальным сетям
              img.support-section__item-icon(src="images/support-section-item-icon.png" loading="lazy" width="80" height="80" alt="icon")
            .support-section__item.item-borders.swiper-slide
              .font-w-book.font-s-19 Пошагово выстраиваем все бизнес-процессы
              img.support-section__item-icon(src="images/support-section-item-icon.png" loading="lazy" width="80" height="80" alt="icon")
            .support-section__item.swiper-slide
              .font-w-book.font-s-19 Консультируем по вопросам автоматизации бизнеса
              img.support-section__item-icon(src="images/support-section-item-icon.png" loading="lazy" width="80" height="80" alt="icon")
            .support-section__item.item-borders.swiper-slide
              .font-w-book.font-s-19 Помогаем с контентом для социальных сетей
              img.support-section__item-icon(src="images/support-section-item-icon.png" loading="lazy" width="80" height="80" alt="icon")
            .support-section__item.swiper-slide
              .font-w-book.font-s-19 Проводим ежеквартальные встречи франчайз
              img.support-section__item-icon(src="images/support-section-item-icon.png" loading="lazy" width="80" height="80" alt="icon")
            .support-section__item.item-borders.swiper-slide
              .font-w-book.font-s-19 Проводим обучение персонала
              img.support-section__item-icon(src="images/support-section-item-icon.png" loading="lazy" width="80" height="80" alt="icon")
            .support-section__item.swiper-slide
              .font-w-book.font-s-19 Подключаем к закрытому чату для помощи по любым вопросам
              img.support-section__item-icon(src="images/support-section-item-icon.png" loading="lazy" width="80" height="80" alt="icon")
          .support-pagination.swiper-progress-support
