section.thanks-section
  .thanks-section__container
    h1.thanks-section__title.font-w-medium.font-s-34.text-up
      |НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ 
      span.color-orange ВАШЕЙ ЗАЯВКОЙ
    p.thanks-section__inner-text.font-w-book.font-s-28
      |Мы свяжемся с Вами в ближайшее время
    a.btn(href="index.html") Вернуться на главную
