extends ../layouts/base

block body
    .layout
      include ../components/header.pug
      main.main.thanks-page
        include ../components/thanks-section.pug
      include ../components/footer.pug