.input
  height: 40px
  width 100%
  padding: 0 20px;
  font-family: "FuturaPT-Book"
  font-weight: 400
  font-size: 14px;
  line-height: 140%
  color: #9B9B9B
  border: 1px solid #F7F7F7
  border-radius: 50px;
  background: #F7F7F7
  position relative
  overflow hidden

  &.active
    .input__progress
      opacity 1
      min-width: 40px
      span
        opacity 1
  &__progress
    position: absolute
    height: 100%
    top: 0
    left: 0
    background: #000;
    opacity 0
    min-width: 0
    display: flex
    align-items: center
    justify-content: center
    font-size: 16px
    line-height: 16px
    transition: min-width 1s, opacity 0.8s
    color: #fff
    font-weight: bold
    border-radius: 100px
    +above($breakpoints.xxl)
      font-size: 20px
      line-height: 20px
    span
      opacity 0
      transition: 2s

  transition border-color 0.3s, box-shadow 0.3s, border 0.3s
  &:hover
    border 1px solid #FF8B0F
  &:focus
    color: #020202
    caret-color: #020202
    border 1px solid #FF8B0F
    box-shadow: 3px 3px 20px 0px #FF8B0F
    ::placeholder
      color: #9B9B9B
  &::placeholder
    color: #9B9B9B
  +above($breakpoints.sm)
    height: 45px
    font-size: 14px;
  +above($breakpoints.md)
    height: 45px
    font-size: 15px;
  +above($breakpoints.xxl)
    font-size: 16px;
    height: 49px
  &.error
    border 1px solid $color-error
    color: $color-error
    caret-color: $color-error
    box-shadow: 0px 0px 22px 0px $color-error
    background-color transparent
    &::placeholder
      color: $color-error
    &::-ms-input-placeholder
      color: $color-error
    animation: shake 0.6s;
    @keyframes shake
      10%, 90%
        transform: translate3d(-1px, 0, 0)
      20%, 80%
        transform: translate3d(2px, 0, 0)
      30%, 50%, 70%
        transform: translate3d(-4px, 0, 0)
      40%, 60%
        transform: translate3d(4px, 0, 0)

  &--textarea
    outline none
    padding: 15px 14px
    resize: none
    height: 90px
    border-radius: 4px
    width 260px
    +above($breakpoints.sm)
      height: 120px
      width 410px
    +above($breakpoints.md)
      width 594px
      height: 140px
    +above($breakpoints.xxl)
      width 594px
      height: 168px

  &--secondary
    border 1px solid #9B9B9B