.swiper-finances
  margin: 0 auto
  width 260px !important
  +above($breakpoints.sm)
    width 100% !important

.swiper-support
  margin: 0 auto
  width 250px !important
  +above($breakpoints.sm)
    width 100% !important

.swiper-invest
  margin: 0 auto
  width 260px !important
  +above($breakpoints.sm)
    width 100% !important

.swiper-start
  margin: 0 auto
  width 260px !important
  +above($breakpoints.sm)
    width 100% !important

.swiper-desktop
  margin: 0 auto
  width 308px !important
  overflow: hidden
  +above($breakpoints.sm)
    width 100% !important
    overflow: hidden
  +above($breakpoints.md)
    width 100% !important
    overflow: hidden
  +above($breakpoints.xxl)
    width 100% !important
    overflow: hidden
  +above($breakpoints.xxxl)
    width 100% !important
    overflow: hidden